<settings>
    <setting propertyKey="@Properties.locationId" title="@Strings.settingLocation">
        <settingConfig type="list">
            <listEntry value="0">@Strings.locVlissingen</listEntry>
            <listEntry value="1">@Strings.locYerseke</listEntry>
        </settingConfig>
    </setting>
</settings>
