<settings>
    <setting propertyKey="@Properties.locationId" title="@Strings.settingLocation">
        <settingConfig type="list">
            <listEntry value="0">@Strings.locVlissingen</listEntry>
            <listEntry value="1">@Strings.locKats</listEntry>
            <listEntry value="2">@Strings.locBreskens</listEntry>
            <listEntry value="3">@Strings.locMarollegat</listEntry>
            <listEntry value="4">@Strings.locOranjeplaat</listEntry>
            <listEntry value="5">@Strings.locOssenisse</listEntry>
            <listEntry value="6">@Strings.locTerneuzen</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.procesTypeId" title="@Strings.settingProcesType">
        <settingConfig type="list">
            <listEntry value="0">@Strings.procesTypeAstronomisch</listEntry>
            <listEntry value="1">@Strings.procesTypeVerwachting</listEntry>
        </settingConfig>
    </setting>
</settings>
